
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    width: fit-content;
    gap: 10%;
    margin-right: 25%;
}

/* User Avatar Section */
.user-info {
    position: relative;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.user-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 30%; /* Haz la imagen redonda */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.user-info h2 {
    font-size: 2vw;
    color: white;

}

.section-header {
    font-size: 1.2em;
    color: white;
    text-shadow: rgb(0, 177, 200);
    text-align: left;
}

.content-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.maps-section, .skins-section {
    display: flex;
    align-items: center;
    width: 40vw;
    height: 25vh;
    border-radius: 10px;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.maps, .skins {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5%;
}

.maps img, .skins img {
    width: 30%;
    height: 80%;
    border-radius: 8px;
    object-fit: cover;
}

.LogoutButton{

    width: 50%;
    background: #b5bbbd;
	border-bottom: 6% inset rgba(0,0,0,.5);
	border-left: 6% inset rgba(0,0,0,.5);
	border-right: 6% inset rgba(255, 255, 255, 0.5);
	border-top: 6% inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 1rem;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
    font-family: 'GenericTechno';
}

.resaltado {
border: 3px solid #00ffff; /* Color naranja de resaltado */
transition: transform 0.2s, border-color 0.2s; /* Suaviza la animación */
}
  