#root {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
.main {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  top: 10%;
  gap: 12px;
}

/* Estilos para la barra de desplazamiento en navegadores WebKit */
::-webkit-scrollbar {
  width: 7px; /* Barra de desplazamiento delgada */
  color: transparent;
  margin-right: 1000px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.4) /* Fondo transparente del track */
}

::-webkit-scrollbar-thumb {
  background-color: black; /* Color tenue para el thumb */
  border-radius: 4px; /* Bordes redondeados */
}


.button-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

button {
	background: #b5bbbd;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255, 255, 255, 0.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	margin: 1rem;
	min-width: 300px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
  font-family: 'GenericTechno';

}

button:hover {
  border-color: #84cfe2;
}
button:focus,
button:focus-visible {
  outline: 8px auto -webkit-focus-ring-color;
}


.neon-text {
  font-size: 5vw; /* Tamaño del texto */
  font-weight: bold; /* Fuente en negrita */
  color: #ffffff; /* Color principal del texto */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  text-shadow:
    0 0 5px #0ff, /* Brillo pequeño */
    0 0 10px #0ff, /* Brillo más grande */
    0 0 20px #0ff, /* Brillo más grande */
    0 0 40px #0ff, /* Luz suave */
    0 0 80px #0ff, /* Luz extendida */
    0 0 90px #ff00ff, /* Luz secundaria (rosa) */
    0 0 100px #ff00ff, /* Luz secundaria más grande */
    0 0 200px #ff00ff; /* Luz muy extendida */
  font-family: 'GenericTechno'; /* Fuente tipo retro */
}


