

.navbar {
    display: 'flex';
    justify-content: 'space-between';
    align-items: 'center';
    padding: '10px 20px';
    background-color: '#333';
    color: 'white';
}

.logo {
    font-size: '1.5rem';
}
.navLinks {
    display: 'flex';
    list-style: 'none';
    gap: '15px';
}

.link {
    color: 'white';
    text-decoration: 'none';
    font-size: '1rem';
}