.join-button {
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #4CAF50; /* Color verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #45a049;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas por defecto */
  gap: 10px; /* Espaciado entre filas y columnas */
  padding: 10px; /* Espaciado interno */
  justify-items: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

/* Para pantallas medianas */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}

/* Para pantallas pequeñas */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* 1 columna */
  }
}
